<head>

</head>

<body>
    <table>
        <tr>
            <td><b>Method</b></td>
            <td>{{ request.method }}</td>
        </tr>
        {% for h in request.headers %}
        <tr>
            <td><b>{{ h[0] }}</b></td>
            <td>{{ h[1] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><b>Data</b></td>
            <td>{{ request.data }}</td>
        </tr>
        {% for f in request.form %}
        <tr>
            <td>Form - {{ f }}</td>
            <td>{{ request.form[f] }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>arg1</td>
            <td>{{ arg1 }}</td>
        </tr>
        <tr>
            <td>arg2</td>
            <td>{{ arg2 }}</td>
        </tr>
    </table>


</body>

